<h1> Menu for Taste of Japan </h1>

<ul>
  <% @dishes.each do |dish| %>
    <li>
      <%= link_to dish.name, dish %> -
      $<%= dish.price %>
      <%= button_to "Add", {controller: 'carts', action: 'create', id: dish.id} %>
    </li>
  <% end %>
</ul>

<%= link_to "Create New Dish", new_menu_path %>
