<div class="bodycontent">
  <h1>Order list</h1>

  <% if !@uncooked_dishes.empty? %>
  <table>
    <thead>
      <tr>
        <th>Customer</th>
        <th>Menu Item</th>
        <th> </th>
      </tr>
    </thead>
    <tbody>
      <% @uncooked_dishes.each do |d| %>
      <tr>
        <td class="center_table"><%= d.user.name %></td>
        <td class="center_table"><%= d.menu.name  %></td>
        <td class="center_table"><%= link_to "Done!", {controller: 'carts', action: 'complete_order', id: d.id}, method: 'post' %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <% else %>
  <h2>Currently Order List is Empty. Quick take a break! </h2>
  <% end %>

</div>
