/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
 font-family: 'Indie Flower', cursive;
}

header {
 background-color: rgba(255, 192, 203, 1);
 height: 200px;
}

nav {
  font-size: 20px;
  background-color: #e6bad1;
  height: 38px;

}

nav a {
  text-decoration: none;
  text-decoration-color: black;
  background-color: rgba(219, 154, 187, 1);
  border-radius: 8px;
  color: white;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

nav a:hover {
  background-color: black;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Indie Flower', cursive;
  margin-left: 20px;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 4em;
}


footer {
  background-color: pink;
  height: 100px;
}

body {
 width: 1000px;
 position: relative;
 margin: 0 auto;
 background-color: #e6bad1;
}

table {
  width: 300px;
}

table, th, td {
  border: 1px solid black;
}

div.main {
  background-color: rgba(255, 192, 203, 1);
}

div.content {
  background-color: rgba(210, 215, 211, 0.5);
  min-height: 600px;
}

.button_to {
  display: inline;
  color: pink;
}

#logout, #login, #edit {
  float: right;
}

.errors {
  color: red;
}



/* Style The Dropdown Button */
.dropbtn {
  text-decoration: none;
  text-decoration-color: black;
  background-color: rgba(219, 154, 187, 1);
  color: white;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: grey}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: black;
}
