// Place all the styles related to the Carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.total {
  color: green;
  font-size: 25px;
  margin: auto;
}

#favorite {
  font-size: 25px;
  margin-top: 0;
}

.bodycontent {
  margin-left: 20px;
}

.popular {
  float: right;
  margin-right: 160px;
}

.bodycontent a {
  text-decoration: none;
}

.carts_button {
  text-decoration: none;
  color: black;
  background-color: rgba(221, 75, 107, 0.8);
  border-radius: 6px;
  padding: 0 10px 0 10px;
}

.content h3 {
  margin-left: 70px;
}
