// Place all the styles related to the menus controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#Appetizers {
  width: 400px;
  display: inline-block;
  margin-left: 50px;
}
#Sushi {
  width: 400px;
  display: inline-block;
  margin-left: 30px;
}
#Noodles {
  width: 400px;
  display: inline-block;
  margin-left: 50px;
  margin-bottom: 50px;
}
#Beverages {
  width: 400px;
  display: inline-block;
  margin-left: 30px;
  margin-bottom: 50px;
}
