// Place all the styles related to the menus controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table a {
  text-decoration: none;
  color: black;
  background-color: rgba(221, 75, 107, 0.8);
  border-radius: 6px;
  padding: 0 10px 0 10px;
}


table a:hover {
  color: white;
}

.center_table {
   text-align: center;
}

#Appetizers {
  width: 400px;
  display: inline-block;
  margin-left: 50px;
}
#Sushi {
  width: 400px;
  display: inline-block;
  margin-left: 30px;
}
#Noodles {
  width: 400px;
  display: inline-block;
  margin-left: 50px;
  margin-bottom: 50px;
}
#Beverages {
  width: 400px;
  display: inline-block;
  margin-left: 30px;
  margin-bottom: 50px;
}

.createdish {
  margin-left: 20px;
}

.createdish a {
  text-decoration: none;
  color: white;
}
